<% include header %>


<a href="/RestaurantFrequentationTotale"> Nombre de fréquentation Total aux Restaurants d'Entreprise</a>
<br/>
<a href="/RestaurantFrequentationJour"> Nombre de fréquentation du Jour aux Restaurants d'Entreprise</a>
<br/>
<a href="/RestaurantAffluence"> Affluence des différents Restaurants d'entreprise </a>
<br/>
<br/>
<a href="/SalleFrequentationTotale"> Nombre de fréquentation Total des Salles de réunion</a>
<br/>
<a href="/SalleFrequentationJour"> Nombre de fréquentation du Jour des Salles de réunion</a>
<br/>
<a href="/SalleAffluence"> Salles de réunion disponibles </a>
<br/>
<br/>
<a href="/NombreAchatCantine"> Les achats les plus effectués aux CE </a>
<br/>
<a href="/NombreAchatCE"> Les plats les plus choisis à la cantine </a>
<% include footer %> 