<% include header %>

<a href="/localisation"> Affluence des différents restaurants d'entreprise </a>
<br/>
<a href="#"> Nombre de fréquentation des différentes salles </a>
<br/>
<a href="#"> Les achats les plus effectués aux CE </a>
<br/>
<a href="/frequentation"> Les plats les plus choisis à la cantine </a>
<% include footer %> 