</div><!-- /.container -->
	<!-- script references -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/js/jquery-ui-timepicker-addon.js"></script>
   <script>
      $(document).on("ready", function(){
          //$( ".datepicker" ).datepicker();

          $( ".datetimepicker" ).datetimepicker({
            timeFormat: 'HH:mm',
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
            showButtonPanel: false,
          });
      });
   </script>
	</body>
</html>