<% include header %>

<% if( typeof messageError !== 'undefined'){ %>
        <div class="alert alert-danger">
          <%= messageError %>
        </div>
<% } %> 
<% if (typeof messageSuccess !== 'undefined'){ %>
        <div class="alert alert-success">
          <%= messageSuccess %>
        </div>
<% } %>
<br/>
<div class='table-responsive'>
  <table class="table table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Restaurant</th>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
  <% for( var i=0; i<emplacements.length; i++){ %>
    <tr>
      <td> <%= emplacements[i].nom_emplacement %> </td>
      <td> <%= emplacements[i].type %> </td>
    <tr>
  <% } %>
</tbody>
  </table>
  </div>

<% include footer %>
