<% include header %>

	<a href="#"> Mon Compte </a>
	<br/>
	<a href="#"> Mes Pointages </a>
	<br/>
	<a href="#"> Mes Paiements </a>
	<br/>
	<a href="/data"> Données entreprises </a>

<% include footer %>