<% include header %>

<ul class="nav nav-tabs">
  <li class=" dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Salle<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/SalleAffluence">Disponibilité</a></li>
      <% if(req.session.user.id_role.id == 1){ %>
        <li><a href="/SalleFrequentationJour">Fréquentation du Jour</a></li>
        <li><a href="/SalleFrequentationTotale">Fréquentation Totale</a></li>
      <% } %>
    </ul>
  </li>
  <li class=" dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="/">Cantine<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/CantineAffluence">Affluence</a></li>
        <% if(req.session.user.id_role.id == 1){ %>
        <li><a href="/CantineFrequentationJour">Fréquentation du Jour</a></li>
        <li><a href="/CantineFrequentationTotale">Fréquentation Totale</a></li>
        <li><a href="/CantineNombreAchat">Achats</a></li> 
      <% } %>
    </ul>
  </li>  
  <li class=" dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="/">CE<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% if(req.session.user.id_role.id == 1){ %>
        <li><a href="/CENombreAchat">Achats</a></li>
      <% }else{ %>
        <li><a href="/CETopTenSortie">Top 10 des sorties</a></li>      
      <% } %>
    </ul>
  </li>
  
</ul>
<br>
<p>Veuillez choisir une catégorie.</p>
<br>

<a href='/'> <button type="button" class="btn btn-default green"> Retour</button></a>
<% include footer %>
